<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="Anuj" title="AnujWorld" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to My World</p>
                        <h1>I am a <span class="txt_clr">Full Stack Developer</span>, Student and currently learning on my majour project</h1>
                        <a href="https://tiwarigithub.github.io/PortfolioResponsive/" target="_Anuj"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Anuj Tiwari
        </p>
    </footer>
</body>

</html>